.counties :hover {
    fill: lightgreen;
}

.county-borders {
    stroke: gray;
    stroke-width: 0.2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.states {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

#dateSetter {
    margin-right: 10px;
    width: 40%
}

.top-row {
    margin-top: 5px;
    height: 20vh;
}

.second-row {
    height: 70vh;
    margin-top: 20px;
}

#corona-dev-chart {
    height: 100%
}

#kpi-boxes {
    display: flex;
}

.card-header {
    text-align: center;
}

.card-body {
    text-align: center;
}

.nav {
    display: flex;
}

.btn {
    margin-right: 10px;
}

.corona-tweets {
    stroke: green;
    stroke-width: 1.5px;
    fill: none;
}

.all-tweets {
    stroke: red;
    stroke-width: 1.5px;
    fill: none;
}

.dot {
    fill: green;
}