.counties :hover {
    fill: lightgreen;
}

.county-borders {
    stroke: gray;
    stroke-width: 0.2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.states {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

.top-row {
    margin-top: 5px;
}

.second-row {
    height: 70vh;
    margin-top: 20px;
}

#chart-1 {
    height: 100%
}

#chart-2 {
    display: flex;
}

.card-header {
    text-align: center;
}

.card-body {
    text-align: center;
}

.nav {
    display: flex;
}

.btn {
    margin-right: 10px;
}